<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="back">
      <h1>Profile</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content >
    <center>
        <ion-card class="ion-border">
    <center>
          <ion-avatar class="cute">
            <img src="./assets/imgs/nothing.jpg" >
          </ion-avatar></center>
    
          <ion-card-content>
            <ion-card-title text-center>
              Laica Rose Oriol
            </ion-card-title>
            <p text-center>
              BSIT Student
            </p>
            <p align="left">What's on Your Mind !<input type="text" placeholder="What's Up">
              <img src="./assets/imgs/3.png" align="center" height="50px" margin-top="10px"></p>
          <p>_____________________________________________</p>
          <img src="./assets/imgs/heart.jpg" align="left" height="50px" margin-top="10px"> <p align="left">Single
              </p><br><br>
              <img src="./assets/imgs/times.jpg" align="left" height="50px" margin-top="10px"> <p align="left">Joined August 2019
                </p><br><br>
                <p align="left"><b>...See More Details</b>
                  </p>
          </ion-card-content>
          
         
        </ion-card>
        
    
      </center>
      </ion-content>
    
