<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="back">
        <h1>Gallery</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

  <ion-content >
    <center>
      <ion-icon class="two">
          <img src="./assets/imgs/1.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="a">
          <img src="./assets/imgs/2.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="b">
          <img src="./assets/imgs/3.png" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="c">
          <img src="./assets/imgs/4.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="d">
          <img src="./assets/imgs/12.jpeg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="e">
          <img src="./assets/imgs/6.gif" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="f">
          <img src="./assets/imgs/13.jpeg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="g">
          <img src="./assets/imgs/15.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="h">
          <img src="./assets/imgs/9.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="i">
          <img src="./assets/imgs/10.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="j">
          <img src="./assets/imgs/11.jpeg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="k">
          <img src="./assets/imgs/5.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="l">
          <img src="./assets/imgs/8.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="m">
          <img src="./assets/imgs/14.jpeg" align="center" height="100%" margin-top="10px">
      </ion-icon>
      <ion-icon class="n">
          <img src="./assets/imgs/7.jpg" align="center" height="100%" margin-top="10px">
      </ion-icon>
    </center> 
  </ion-content>
