.one{
    background-color: rgb(100, 67, 23);
    height: 500px;
    width: 80%;
    margin: auto;
    margin-top: 1%;
}
.two{
    height: 250px;
    width: 20%;
    margin: 70px auto 0;
}
.a{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.b{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.c{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.d{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.e{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.f{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.g{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.h{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.i{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.j{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.k{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.l{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.m{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.n{
    height: 250px;
    width: 20%;
    margin-left: 1%;
    margin-right: 1%;

}
.back{
    background: rgb(240, 241, 238);
    border:1px solid rgb(15, 15, 15);
    font-family: Arial;
    font-style: italic;
}