<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="back">
     <h1>Contact Details</h1>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <center>
        <ion-card class="ion-border">
    <center>
          <ion-avatar class="cute">
            <img src="./assets/imgs/nothing.jpg" >
          </ion-avatar></center>
    
          <ion-card-content>
            <ion-card-title text-center>
              <p>Liac Oriol</p>
            </ion-card-title>
            <p>BSIT</p>
            <p align="left"><b>Contact Details</b>
            </p>
          <img src="./assets/imgs/contact.png"align="left" height="50px" margin-top="10px"> <p align="left">09171087552
          </p><br><br>
          <img src="./assets/imgs/email.jpeg"align="left" height="50px" margin-top="10px"> <p align="left">laicaroseoriol@gmail.com
            </p><br><br>
            <img src="./assets/imgs/facebook.png"align="left" height="50px" margin-top="10px"> <p align="left">Liac Oriol
              </p>
          </ion-card-content>
          
         
        </ion-card>
        
    
      </center>
</ion-content>
