.ion-border{
    width: 30%;
    height: 500px;
	margin: auto;
	border:2px solid rgb(11, 34, 112);
	border-collapse: collapse;
	text-align: center;
	font-size: 15px;
	background:rgb(119, 103, 103);
	opacity:0.5;
	color:white;
    margin-top: 10px;
    padding: 10px;
    opacity: 0.9;
    margin-left: 35%;

}
.back{
    background: rgb(240, 241, 238);
    border:1px solid rgb(15, 15, 15);
    font-family: Arial;
    font-style: italic;
}
